<!DOCTYPE html>

<html>
<%= erb :'layout/doc_head' %>

<body>  
  <%= erb :"layout/flash" rescue '' %>            
  <%= erb :"header/links" unless @hide_links %>

  <style>  
  body {
    background-color: whitesmoke;
    font-family: arial;
  }
  .main-container {
    margin:10px 40px;    
    padding:10px 20px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    zmin-width: 300px;
  }
  </style>
  <div class='main-container'>
    <%= yield %> 
  </div>
  
  
  <%= erb :'layout/dev_mode' %>
  <%#= erb :"layout/css_files" %>      
  <%#= erb :'layout/analytics' %>
  
  <% if cuid %> <script> window.cuid ="<%=cuid%>"; </script><% end %>


</body>
</html>
