<%
  project  = $projects.get(user_id: cuid, _id: pr[:_id])
  #genes    = $genes.get_many(project_id: project[:_id])
  gene     = $genes.get(pr[:gene_id])
%>

<div class='add-variant'>
  <h1> <%= project[:name] %>: Add Variant <i class="fa fa-flask"></i> </h1>

  <form method=post action='/variant'>
    <input hidden name=project_id value="<%=project[:_id]%>" />
    
    <label> Gene </label><br/>
    <b><input hidden readonly name=gene_id value="<%=gene[:_id]%>"><%= gene[:name] %></b>
    
    <% if false %>
    <br/><br/>
    <label> Host </label><br/>
    <input name="host" value="<%= nice_id if !$prod %>" />
    <% end %>

    <br/><br/>
    <label> DNA </label><br/>
    <textarea name=dna><%= guid if !$prod %></textarea>
    <br/><br/>
    <button autofocus> Submit </button>
  </form>
</div>

