<%
  project  = $projects.get(user_id: cuid, _id: pr[:_id])
  genes    = $genes.get_many(project_id: project[:_id])  
  is_draft = project[:status] == PROJ_STATUS_DRAFT
%>

<style>
.single-project-page {

}
.single-variant {
  background-color: lightblue;
  padding:5px 10px;
  border-radius: 10px;
  margin: 10px auto;
}
.single-gene {
  border:2px solid lightpink;
  padding:5px 10px;
  margin-bottom: 10px;
}
</style>

<div class='single-project-page'>
  <h1> Project <%= project[:name] %> (status: <%= project[:status] %>)</h1>
  <% if is_admin %>
    <div style='text-align: right'>
      <a href=/projects/delete/<%=project[:_id]%> onclick='return confirm("are you sure?")'><button> admin delete project <i class='fa fa-trash'></i></button></a>
    </div>
  <% end %>

  <% if is_draft %>
    <a href='/genes/<%=project[:_id]%>/add_gene'><button> Add Gene</button> </a>
  <% end %>
  
  <% if genes.any? %>
    <h3> Genes </h3>  
    <% genes.each do |gene| %>
      <div class='single-gene'>
        <%#= gene.to_json %>
        Gene: <%= gene[:name] %>
        <br/><br/>   

        <div style='text-align: right'>
          <a href=/genes/delete/<%=gene[:_id]%> onclick='return confirm("are you sure?")'><button> delete gene <i class='fa fa-trash'></i></button></a>
        </div>
        
        <% variants = $variants.get_many(gene_id: gene[:_id]) %>
        <% if variants.any? %>          
          <% variants.each_with_index do |variant, idx| %>
            <div class='single-variant'>
              <b> Variant <%= idx+1 %> </b><br/><br/>
              <%= variant[:host] %>: <%= variant[:dna] %>
              <br/><br/>   

              <% if is_admin %>
              <div style='text-align: right'>
                <a href=/variants/delete/<%=variant[:_id]%> onclick='return confirm("are you sure?")'><button> admin delete variant <i class='fa fa-trash'></i></button></a>
              </div>
              <% end %>              
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>  

  <% if genes.any? && is_draft %>
    <form method=post action=/project/<%=project[:_id]%>/submit>
      <button> submit project </button>
    </form>
  <% end %>

  <% if is_admin && genes.any? %>
  <br/><br/>
  <a href='/projects/<%=project[:_id]%>/add_variant'><button> Admin Add Variant</button> </a>
  <% end %>
</div>