<%
  project  = $projects.get(user_id: cuid, _id: pr[:_id])
  genes    = $genes.get_many(project_id: project[:_id]).reverse
  is_draft = project[:status] == PROJ_STATUS_DRAFT
%>

<style>
.single-project-page {

}
.single-variant {
  background-color: lightblue;
  padding:5px 10px;
  border-radius: 10px;
  margin: 10px auto;
}
.single-gene {
  border:2px solid lightpink;
  padding:5px 10px;
  margin-bottom: 10px;
}
.status-submitted {
  color: lightgreen;
}
.status-draft {
  color: #8B8000;
}
</style>

<div class='single-project-page'>
  <h1> Project <%= project[:name] %> 
    <span class='status-<%=project[:status]%>'>(status: <%= project[:status] %>)</span>
    <% if is_draft %>
      <i class='fa fa-pen-ruler'></i>
    <% else %>
      <i class='fa fa-folder'></i>
    <% end %>
  </h1>
  <p> <%= project[:desc] %></p>
  <% if is_admin %>
    <div style='text-align: right'>
      <a href=/projects/delete/<%=project[:_id]%> onclick='return confirm("are you sure?")'><button>admin del <i class='fa fa-trash admin_color'></i></button></a>
    </div>
  <% end %>

  <% if is_draft %>
    <a href='/genes/<%=project[:_id]%>/add_gene'><button> Add Gene <i class='fa fa-pen'></i></button> </a>
  <% end %>
  
  <% if genes.any? %>
    <h3> Genes <i class='fa fa-list'></i></h3>  
    <% genes.each do |gene| %>
      <div class='single-gene'>
        <%#= gene.to_json %>
        <% 
          keys = [:name, :host, :upstream_sequence, :nucleotide_sequence, :num_proteins, :enzymes_to_avoid, :regions_to_preserve, :vector_based_optimization]
          keys.each do |key| %>
        <b><%=key%></b><br/>        
        <%= gene.hwia[key] %>
        <br/><br/>   
        <% end %>

        <div style='text-align: right'>
          <a href=/genes/delete/<%=gene[:_id]%> onclick='return confirm("are you sure?")'><button> <i class='fa fa-trash'></i></button></a>
        </div>
        
        <% variants = $variants.get_many(gene_id: gene[:_id]) %>
        <% if variants.any? %>          
          <% variants.each_with_index do |variant, idx| %>
            <div class='single-variant'>
              <b> Variant <%= idx+1 %> <i class='fa fa-flask'></i></b><br/><br/>
              host: <%= gene[:host] %>
              <br/><br/>   
              variant: <%= variant[:dna] %>
              <br/><br/>
              <% if is_admin %>

              <div style='text-align: right'>
                <a href=/variants/delete/<%=variant[:_id]%> onclick='return confirm("are you sure?")'><button> admin del <i class='fa fa-trash admin_color'></i></button></a>
              </div>
              <% end %>              
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>  

  <% if genes.any? && is_draft %>
    <form method=post action=/project/<%=project[:_id]%>/submit>
      <button> submit project <i class='fa fa-paper-plane'></i></button>
    </form>
  <% end %>

  <% if is_admin && genes.any? %>
  <br/><br/>
  <a href='/projects/<%=project[:_id]%>/add_variant'><button> Admin Add Variant <i class='fa fa-add'></i></button> </a>
  <% end %>
</div>