<%
  proj_id     = pr[:_id]
  project     = $projects.get(user_id: cuid, _id: proj_id)
  genes       = $genes.get_many(project_id: proj_id).reverse
  is_draft    = project[:status] == PROJ_STATUS_DRAFT
  cur_gene_id = pr[:gene_id] || genes.first[:_id] rescue nil
%>

<style>
.single-project-page {

}
.single-variant {
  background-color: lightblue;
  padding:5px 10px;
  border-radius: 10px;
  margin: 10px auto;
}
.single-gene {
  border:2px solid lightpink;
  padding:5px 10px;
  margin-bottom: 10px;
}
.status-submitted {
  color: lightgreen;
}
.status-draft {
  color: #8B8000;
}
.single-gene-menu {
  padding:5px 10px;
  border:1px solid black;
}
.selected-gene {
  background-color: black;
  color: white;
}
</style>

<div class='single-project-page'>
  <h1> Project <%= project[:name] %> 
    <span class='status-<%=project[:status]%>'>(status: <%= project[:status] %>)</span>
    <% if is_draft %>
      <i class='fa fa-pen-ruler'></i>
    <% else %>
      <i class='fa fa-folder'></i>
    <% end %>
  </h1>
  <p> <%= project[:desc] %></p>
  <% if is_admin %>
    <div style='text-align: right'>
      <a href=/projects/delete/<%=project[:_id]%> onclick='return confirm("are you sure?")'><button>admin del <i class='fa fa-trash admin_color'></i></button></a>
    </div>
  <% end %>

  <% if is_draft %>
    <a href='/genes/<%=project[:_id]%>/add_gene'><button> Add Gene <i class='fa fa-pen'></i></button> </a>
  <% end %>
  
  <% if genes.any? %>
    <h3> Genes <i class='fa fa-list'></i></h3>  
    <div class='genes-menu'>
      <% genes.each_with_index do |gene, idx| %>
        <a href='/projects/<%=proj_id%>?gene_id=<%=gene[:_id]%>' class='single-gene-menu <%="selected-gene" if gene[:_id] == cur_gene_id%>'><%= gene[:name] %></a>
      <% end %>
    </div>
    <br/>
    <% genes.each_with_index do |gene, idx| %>
      <div class='single-gene <%="hidden" unless gene[:_id] == cur_gene_id%>'>
        <%#= gene.to_json %>
        <% 
          keys = [:name, :host, :upstream_sequence, :nucleotide_sequence, :num_proteins, :enzymes_to_avoid, :regions_to_preserve, :vector_based_optimization]
          keys.each do |key| %>
        <b><%=key%></b><br/>        
        <%= gene.hwia[key] %>
        <br/><br/>   
        <% end %>

        <div style='text-align: right'>
          <a href=/genes/delete/<%=gene[:_id]%> onclick='return confirm("are you sure?")'><button> <i class='fa fa-trash'></i></button></a>
        </div>
        
        <% variants = $variants.get_many(gene_id: gene[:_id]) %>
        <% if variants.any? %>          
          <% variants.each_with_index do |variant, idx| %>
            <div class='single-variant'>
              <b> Variant <%= idx+1 %> <i class='fa fa-flask'></i></b><br/><br/>
              <!-- host: <%= gene[:host] %>
              <br/><br/>    -->
              <%= variant[:dna] %>
              <br/><br/>
              <% if is_admin %>

              <div style='text-align: right'>
                <a href=/variants/delete/<%=variant[:_id]%> onclick='return confirm("are you sure?")'><button> admin del <i class='fa fa-trash admin_color'></i></button></a>
              </div>
              <% end %>              
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>  

  <% if genes.any? && is_draft %>
    <form method=post action=/project/<%=project[:_id]%>/submit>
      <button> submit project <i class='fa fa-paper-plane'></i></button>
    </form>
  <% end %>

  <% if is_admin && genes.any? %>
  <br/><br/>
  <a href='/projects/<%=project[:_id]%>/add_variant?gene_id=<%=cur_gene_id%>'><button> Admin Add Variant To This Gene <i class='fa fa-add'></i></button> </a>
  <% end %>
</div>